<div class="mt-4">
    <h3>Thêm công đoạn chế biến</h3>

    <form method="POST" action="/congdoanchebien/store">
        <div class="form-group">
            <label for="ten">Tên công đoạn chế biến:</label>
            <input type="text" class="form-control mt-1" id="ten" name="ten">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Thêm công đoạn chế biến</button>
    </form>
</div>