@import 'variables';

.card-course-item {
    margin-top: 16px;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

.posi-relative {
  position: relative;
  top: 60px;
}

.flex-inherit {
    flex: inherit !important;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: #212529!important;
    overflow-x: hidden;
    padding-top: 16px;

    .icon-block {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      margin-right: 6px;
      
      i.icon-sidebar {
        font-size: 16px!important;
      }
    }
}

.sidebar a {
  padding: 0px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;

  + a {
    padding-top: 16px!important;
  }
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.form-group + .form-group {
  margin-top: 1rem;
}

.form-check + .form-check {
  margin-left: 100px;
}

.subnav {
    a + a {
      margin-left: 20px;
    }
  
}

.scan-qrcode + .scan-qrcode {
  margin-top: 30px !important;
}

.btn-navbar {
  display: none;
}

.title-testqrcode {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

table th {
  font-weight: 600;
}


@media (max-width: 414px) {
  #btn-navbar {
    display: flex;
    width: 30px;
    height: 30px;
    float: right;
    color: #fff;
  }
  .rp-sidebar {
    display: none;
  }

  .rp-body {
    overflow: auto;
  }
  .rp-table {
    width: 100%;
    margin: 0 auto;
  }
  #rp-table th, td {
    white-space: nowrap !important;
  }
  
}