<div class="mt-4">
    <h3>Thêm loại con giống</h3>

    <form method="POST" action="/loaicongiong/store">
        <div class="form-group">
            <label for="ten">Tên loại con giống:</label>
            <input type="text" class="form-control mt-1" id="ten" name="ten">
        </div>

        <button type="submit" class="btn btn-primary mt-3">Thêm loại con giống</button>
    </form>
</div>