<nav class="navbar navbar-expand-lg navbar-dark bg-secondary bg-gradient fixed-top">
  <div class="container-fluid mx-4 rp-navbar">
    <a class="navbar-brand" href="/">ADMINISTRATOR</a>
    <div class="collapse navbar-collapse flex-inherit" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYA5aDg6E_a_l1FaoTXNsiCqsYz1P6PZBpiA&usqp=CAU" alt="" class="user-avatar">
            Ngọc Minh
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/taikhoan/create">Thêm tài khoản</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/taikhoan">Danh sách tài khoản</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Đăng xuất</a>
          </div>
        </li>
      </ul>
    </div>
    {{!-- <div id="btn-navbar">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div> --}}
  </div>
</nav>

