<nav class="navbar navbar-expand-lg navbar-dark bg-secondary bg-gradient fixed-top">
  <div class="container-fluid mx-4 rp-navbar">
    <a class="navbar-brand" href="/">ADMINISTRATOR</a>
    <div class="collapse navbar-collapse flex-inherit" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.6435-1/167139112_3007950066113021_9046873885590987483_n.jpg?stp=dst-jpg_p200x200&_nc_cat=102&ccb=1-7&_nc_sid=7206a8&_nc_ohc=POam1d2lYl0AX_3XMoW&_nc_ht=scontent.fvca1-1.fna&oh=00_AT-LSTaVhsxGfJ4U2TN8oxbcCMbp3eilcjS0SFO_r-yMRA&oe=63784B12" alt="" class="user-avatar">
            Ngọc Minh
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/taikhoan/create">Thêm tài khoản</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/taikhoans">Danh sách của tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Đăng xuất</a>
          </div>
        </li>
      </ul>
    </div>
    {{!-- <div id="btn-navbar">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div> --}}
  </div>
</nav>

