<!-- Sidebar -->
    <div class="sidebar">
        <a href="/" class="d-flex">
            <div class="icon-block">
                <i class="icon-sidebar fa fa-fw fa-home"></i>
            </div>
            <span> Home</span>
        </a>
        <a href="/me/stored/taikhoan" class="d-flex">
            <div class="icon-block">
                <i class="icon-sidebar fa fa-fw fa-user"></i>
            </div>
            <span>Tài khoản</span>
        </a>
        <a href="/me/stored/dotnuoi" class="d-flex">
            <div class="icon-block">
                <i class="icon-sidebar fa fa-qrcode" aria-hidden="true"></i>
            </div>
            <span>Đợt nuôi</span>
        </a>
        <a href="/me/stored/aonuoi" class="d-flex">
            <div class="icon-block">
                <i class="icon-sidebar fa fa-square-o" aria-hidden="true"></i>
            </div>
            <span>Ao nuôi</span>  
        </a>
        {{!-- <a href="/me/stored/cosonuoitrong" class="d-flex">
            <div class="icon-block">
                <i class="icon-sidebar fa fa-area-chart" aria-hidden="true"></i>
            </div>
            <span>Cơ sở nuôi trồng</span>  
        </a>
        <a href="/me/stored/ncccongiong" class="d-flex">
            <div class="icon-block">
                <i class="icon-sidebar fa fa-universal-access" aria-hidden="true"></i>
            </div>
            <span>NCC con giống</span> 
        </a> --}}
        <a href="/me/stored/loaicongiong" class="d-flex">
            <div class="icon-block">
                <i class="icon-sidebar fa fa-bars" aria-hidden="true"></i>
            </div>
            <span>Loại con giống</span>  
        </a>
        <a href="/me/stored/congiong" class="d-flex">
            <div class="icon-block">
                <i class="icon-sidebar fa fa-ellipsis-v" aria-hidden="true"></i>
            </div>
            <span>Con giống</span>  
        </a>
        {{!-- <a href="/me/stored/thuonglai" class="d-flex">
            <div class="icon-block">
                <i class="icon-sidebar fa fa-address-card-o" aria-hidden="true"></i>
            </div>
            <span>Thương lái</span> 
        </a> --}}
        <a href="/me/stored/congdoanchebien" class="d-flex">
            <div class="icon-block">
                <i class="icon-sidebar fa fa-cutlery" aria-hidden="true"></i>
            </div>
            <span>Công đoạn chế biến</span>  
        </a>
        <a href="/me/stored/sanpham" class="d-flex">
            <div class="icon-block">
                <i class="icon-sidebar fa fa-product-hunt" aria-hidden="true"></i>
            </div>
            <span>Sản phẩm</span>  
        </a>
    </div>
<!-- Sidebar -->